@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.contact-section {
  /* border: 2px solid red; */
  margin-top: 3rem;
  background-color: #0e29f2;
  width: 100%;
}
.contact-section h1 {
  /* border: 2px solid red; */
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 3rem;
  font-weight: bolder;
  color: #fff;
}
.contact-section p {
  /* border: 2px solid red; */
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 1.1rem;
  font-weight: 500;
  color: #fff;
}

.consultation .form-box {
  /* border: 2px solid red; */
  margin-top: 30px;
  margin-bottom: 60px;
}
.consultation .form-control {
  /* border: 2px solid red; */
  border-radius: 0;
  font-size: 15px;
  text-align: start;
  display: flex;
  justify-content: start;
  align-items: center;
  height: 50px;
  width: 300px;
  margin: 10px 20px 10px 0;
  outline: none;
}

.submit-btn {
  border: none;
  outline: none;
  height: 50px;
  width: 150px;
  border-radius: 0;
  background-color: #fff;
  color: #000;
  opacity: 1;
}
.submit-btn:hover {
  opacity: 0.9;
}

.contact-box {
  /* border: 2px solid yellow; */
}
.contact-main-box {
  /* border: 2px solid green; */
  display: flex;
  transform: translate(-12px, -6px);
}
.contact-img-box {
  /* border: 2px solid red; */
  height: 810px;
  width: 760px;
  margin-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-img-box img {
  height: 800px;
  width: 760px;
  margin-left: 0 !important;
}

.contact-text-box {
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact-text-box h1,
h3 {
  font-size: 4rem;
  font-weight: bolder;
  color: #000;
}
.contact-text-box h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.contact-text-box span {
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
  line-height: 30px;
}
.contact-text-box p {
  font-size: 1.3rem;
  font-weight: 600;
  color: #000;
  text-align: center;
  text-transform: capitalize;
}

.border-box-two {
  position: absolute;
  height: 600px;
  width: 500px;
  border: 20px solid #0e29f2;
  z-index: 99;
}
